* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
    font-size: 12px;
    /* background-image: url("./background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; */
    background-color: #79bac1; 
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos:*/
@media (min-width: 560px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 880px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1050px) {
    body {
        font-size: 20px;
    }
}

.site-title {
    font-size: 4em;
    background-size: 5em;
    margin-top: 2em;
}

header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
   text-decoration: none;
   color: #79bac1;

}

a:hover {
    text-decoration: underline;
}

.menu {
    position: fixed;
    width: 100vw;
    top: 0px;
    background-color: whitesmoke;
}

.menu li {
list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    padding: 20px;
}

.site-subtitle,
.site-title {
    text-align: center;
    color: #2a7886;
    font-family: 'Raleway', sans-serif;
}

.site-subtitle {
    font-style: italic;

}

.img-portfolio {
    width: 240px;
    height: 180px;
    object-fit: cover;
    transform: scale(1);
}

    .grid {
    display: grid;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px 240px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1050px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px 240px 240px;
        justify-content: center;
        align-items: center;
    }
}

.contato {
    padding-top: 2em;
}

.contato a {
    color: white;
    font-size: 2em;
    text-align: center;
    transition: text-shadow 1s;
}

.gridicons {
    text-align: center;
}

.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 3px black;
}

/* .titulo {
    transform: scale(0.2) translate(50vh);
    opacity: 0;
    transition: all;
    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    100% {
        transform: scale(1.0) translate(50vh);
        opacity: 1;
    }
} */

.sobre h2 {
    color: whitesmoke;
    margin-bottom: 1,5em;
    font-size: 1em;
    padding: 2em;
    min-height: 100vh;
}

.profile {
    width: 500px;
    height: 500px;
    float: right;
    margin-left: 1em;
}
